<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="redishost" value="192.168.1.70"/>
    <add key="password" value=""/>
    <add key="debug" value="true"/>
    <add key="hostemail" value="lab2401@qq.com"/>
    <add key="hostpassword" value="szthicagomylecfh"/>
  </appSettings>
</configuration>