@{
    ViewBag.Title = "Home Page";
}
<div ng-app="task"  ng-controller="panel" class="row">
    <div class="">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        名称
                    </th>
                    <th>
                        最后更新
                    </th>

                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in schedules">
                    <td>
                    <span ng-class="{1:'label label-primary',2:'label label-success',3:'label label-danger'}[item.Status.type]">{{item.App.Name}}</span>
                        <span class="label label-default"  >{{item.App.Name}}</span>

                        <br />
                        <small>{{item.App.Description}}</small>
                        {{item.Memo}}
                        <br />
                        <small>{{item.Paras}}</small>
                        <br /><small>{{item.Cron}}</small>
                    </td>


                    <td >
                        {{item.Status.message}}
                        <br />
                        <small>{{item.Status.update}}</small>
       
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
 

@section scripts{
    <script>
        var app = angular.module('task', []);
        app.controller('panel', function ($scope, $http) {
            $scope.update = function () {
                $http.post("/home/Status").then(function (result) {
                    console.log(result);
                    $scope.schedules = result.data;
                });
            }
            $scope.update();
          
        });
    </script>    
}